apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blog-mongodb
  template:
    metadata:
      labels:
        app: blog-mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:7
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongodb-data
          mountPath: /data/db
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: mongodb-data
        persistentVolumeClaim:
          claimName: mongodb-pvc